body {
  padding-top: 5rem;
}

.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.table-condensed{
  font-size: 10px;
}

.col-ahead-date {
  width: 250px;
}
.card-borderless {
  border: 0;
  box-shadow: none;
}

.card {
  margin-bottom: 1rem !important;
}
canvas {
    padding: 0;
    margin: auto;
    display: block;
    width: 300px;
}

.fixed-width-card {
  width: 300px;
}

/*https://v4-alpha.getbootstrap.com/layout/grid/*/
.small-gutters {
  margin-right: 5;
  margin-left: 5;

  > .col,
  > [class*="col-"] {
    padding-right: 5;
    padding-left: 5;
  }
}
.img-fluid {
  margin-left:  20px;
}

.alert-custom-1 {
  background-color: #e6e6e6 !important;
  color: #666 !important;
}

.question {
  font-size: 1rem;
  color: #257021;
  font-style: italic;
}

pre {
  background-color: #efe;
  color: #888;
  border-top: 1px dashed #888;
  border-bottom: 1px dashed #888;
  display: block;
  padding: 10px;
      margin-bottom: 1rem !important;
}
.needs-margin-bottom {
    margin-bottom: 1rem !important;
}

/* https://stackoverflow.com/questions/42896820/bootstrap-4-modal-width-increase */
.modal-lg {
    max-width: 800px !important;
}

/* https://stackoverflow.com/a/18076167/789446 */
.borderless td, .borderless th {
    border: none !important;
}

/* override bootstrap's _tables.scss */
table {
  margin-bottom: 0 !important;
}



/************************************************************************************
 * CONVERTABLE S-EXPRESSIONS
 * from http://www.bootstrapworld.org/materials/spring2017/courses/algebra/units/Supplemental/bootstrap.css
 */


.circleevalsexp {
  display: inline-block;
  margin-bottom: 1rem;
  font-family: "Courier", Monaco, monospace;
    margin-left:  20px;
}

img {
  margin-bottom: 1rem;
}

div.circleevalsexp .expression{
	display:        inline-block;
  padding-top:    6px;   /* top padding pushes the rounded corners up slightly, so as not to clip function name */
	margin:         5px;
	clear:          none;
	border:         2px solid black;
  background:     white;
  border-radius:  20px;
  text-align:     center;
  vertical-align: top;
	-moz-border-radius: 20px;
	-webkit-border-radius:20px;
}

div.circleevalsexp .value{
	display:        inline-block;
	margin:         10px 10px 5px 10px;
  vertical-align: top;
}

div.circleevalsexp .operator{
  display:        block;
  height:         20px;
  text-align:     center;
  width:          100%;
  line-height:    10px;
  font-weight:    bold;
  border-bottom:  solid 2px black;
  border-radius:  15px 15px 0px 0px; /* top left, top right, bottom right, bottom left */
}

div.circleevalsexp .lParen, div.circleevalsexp .rParen{
  display: none;
}


/* end bootstrap */
