body {
  padding-top: 5rem;
}

.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

canvas {
    padding: 0;
    margin: auto;
    display: block;
    width: 300px;
}

.alert-custom-1 {
  background-color: #e6e6e6 !important;
  color: #666 !important;
}

/* https://stackoverflow.com/questions/42896820/bootstrap-4-modal-width-increase */
.modal-lg {
    max-width: 800px !important;
}

/* https://stackoverflow.com/a/18076167/789446 */
.borderless td, .borderless th {
    border: none !important;
}

/* override bootstrap's _tables.scss */
table {
  margin-bottom: 0 !important;
}

/* START https://afeld.github.io/bootstrap-toc/ */

nav[data-toggle='toc'] {
  margin-top: 30px;
}

/* small screens */
@media (max-width: 768px) {
  /* override the Affix plugin so that the navigation isn't sticky */
  nav.affix[data-toggle='toc'] {
    position: static;
  }

  /* PICK ONE */
  /* don't expand nested items, which pushes down the rest of the page when navigating */
  /*
  nav[data-toggle='toc'] .nav .active .nav {
    display: none;
  }
  */
  /* alternatively, if you *do* want the second-level navigation to be shown (as seen on this page on mobile), use this */
  nav[data-toggle='toc'] .nav .nav {
    display: block;
  }
}

/* END https://afeld.github.io/bootstrap-toc/ */



/************************************************************************************
 * CONVERTABLE S-EXPRESSIONS
 * from http://www.bootstrapworld.org/materials/spring2017/courses/algebra/units/Supplemental/bootstrap.css
 */


div.student div.circleevalsexp, div.codesexp{display: inline-block;}
/*div.circleevalsexp{float: right;}*/

div.circleevalsexp .expression{
	display:        inline-block;
  padding-top:    6px;   /* top padding pushes the rounded corners up slightly, so as not to clip function name */
	margin:         5px;
	clear:          none;
	border:         2px solid black;
  background:     white;
  border-radius:  20px;
  text-align:     center;
	-moz-border-radius: 20px;
	-webkit-border-radius:20px;
}

div.circleevalsexp .value{
	display:        inline-block;
	margin:         10px 10px 5px 10px;
  vertical-align: top;
}

div.circleevalsexp .operator{
  display:        block;
  height:         20px;
  text-align:     center;
  width:          100%;
  border-bottom:  solid 2px black;
  border-radius:  15px 15px 0px 0px; /* top left, top right, bottom right, bottom left */
}

div.circleevalsexp .lParen, div.circleevalsexp .rParen{display: none;}*/

/* end bootstrap */
